#retour {
    position: absolute;
    top: 1em;
    left: 13em;
    transform: rotate(-90deg);
}

#retour img{
    width: 50%;
    height: auto;
}

/***************** LIEN DU SITE ***********************/

#lienSite {
    margin-left: 10vw;
    margin-top: 10em;
    display: flex;
    justify-content: center;
}

#lienSite a{
    color: #1E1E1E;
    font-size: 20px;
    background-color: #C8C4B9;
    padding: 5px 2em;
    font-weight: 700;
}

#lienSite a span{
    font-size: 15px;
    font-weight: 400;
}

/***************** EXPLICATIONS ***********************/

#loquali {
    margin-left: 10vw;
    display: flex;
    justify-content: center;
}

#loquali img {
    z-index: 55;
}

#img1 {
    margin-top: 5em;
    margin-right: 1em;
    width: auto;
    height:  27vh;
}

#img2 {
    margin-top: 5em;
    margin-left: 1em;
    width: auto;
    height: 27vh;
}

#elem25 {
    position: absolute;
    top: 37%;
    width: 60%;
    height: 52%;
    background-color: transparent;
    border: #707070 solid 1px;
    z-index: 1;
}

#explications {
    z-index: 1;
    position: absolute;
    top: 59%;
    width: 50%;
    text-align: center;
    color: #ECECEB;
}

#explications p{
    margin: 1em 0;
}